<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.rcp.mapper.MembersMapper">
	<select id="getLoginInfo" parameterType = "String" resultType="com.example.rcp.domain.Members">
	SELECT * FROM members WHERE member_email = #{email} and member_password = #{password}
	</select>
</mapper>
    

    